<!DOCTYPE html>
<html>
<head>
  <title>oneayear</title>
  <%= stylesheet_link_tag    "oay", media: "all" %>
  <%= javascript_include_tag "oay" %>
  <%= csrf_meta_tags %>
</head>
<body style="height: 100%">

<%= yield %>

</body>
</html>
